.initially-hidden {
  display: none;
}

.green {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.makeRed {
  color: red;
}

.myDef {
  display: none;
}

.showDef {
  display:inline;
}
